.cart-container {
    z-index: 200;
    position: fixed;
    right: 0;
    width: 82%;
    max-height: 50%;
}

.product,
.no-products {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--background-menu);
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.20);
    border-left: 0.25px solid rgba(0, 0, 0, 0.20);
}

.product span {
    margin-left: 0.5rem;
}

.product img {
    margin-right: 0.5rem;
    width: 2.3rem;
}

.product:last-child,
.no-products {
    border-bottom-left-radius: 10px;
}

.no-products span {
    margin: 0.5rem;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}