<div class="cart-container">
    <div>
        <div class="product"><span>hola</span><img src="../../../assets/icons/trash.svg" /></div>
        <div class="product"><span>hola</span><img src="../../../assets/icons/trash.svg" /></div>
        <div class="product"><span>hola</span><img src="../../../assets/icons/trash.svg" /></div>
        <div class="product"><span>hola</span><img src="../../../assets/icons/trash.svg" /></div>
        <div class="product"><span>hola</span><img src="../../../assets/icons/trash.svg" /></div>
        <div class="product"><span>hola</span><img src="../../../assets/icons/trash.svg" /></div>
    </div>
    <div>
        <span>No hay productos en el carrito, agrega productos para verlos aquí</span>
    </div>
</div>