.card {
    position: relative;
    border-radius: 17px;
    border: 0.5px solid rgba(51, 62, 84, 0.80);
    background: var(--background-card);
    width: 220px;
    height: 350px;
    flex-shrink: 0;
    text-align: center;
}

.discount {
    background: var(--discount-color);
    color: var(--discount-text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 15px;
    top: 10px;
    left: 15px;
    width: 3rem;
    height: 25px;
    font-size: 12px;
    border-radius: 10px;
}

.cart {
    display: flex;
    position: absolute;
    border-radius: 50%;
    top: 296px;
    left: 5px;
    z-index: 999;
}

.image {
    height: 170px;
    width: 100%;
    background: no-repeat center;
}

.text {
    height: 4rem;
}

.price-discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 23%;
}

.previous-price {
    color: var(--prev-price-color);
    font-size: 15px;
    font-weight: 600;
    text-decoration: line-through;
    position: relative;
    top: 1.2rem;
}

.actual-price {
    width: 264.117px;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    left: 0;
}

@media only screen and (min-width: 380px) {
    .card {
        width: 265px;
    }

    .actual-price {
        left: 15px;
    }
}