<section class="finder-container">
    <div class="input-container">
        <input type="text" placeholder="Buscar" id="finder" [(ngModel)]="searcher" (click)="checkDetails()" />
    </div>
</section>

<section class="searches-container" *ngIf="showDetails">
    <div *ngFor="let prod of filterProducts()">
        <div class="image-c">
            <img src="../../../../assets/images/{{prod.image}}">
        </div>
        <div class="prod-content">
            <div class="title">{{prod.title}}</div>
            <div class="price">{{prod.price}}€</div>
        </div>
    </div>
</section>