* {
    font-family: Roboto Mono;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

#email {
    font-size: 14px;
}

#form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

#form input {
    border: 1px solid #E4E4E4;
    background: var(--background-login-input);
    border-radius: 5px;
    width: 280px;
    height: 45.943px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 0.8rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
}

#form textarea {
    display: flex;
    width: 250px;
    height: 120px;
    padding: 5px 12px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: var(--background-login-input);
    resize: none;
}

#submit-button {
    display: flex;
    width: 90px;
    height: 40px;
    padding: 4px 15px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #2A40BF;
    background: #2A40BF;
    color: white;
    font-size: 14px;
}

.go-home {
    margin-top: 1.5rem;
}

#go-back-icon {
    margin-top: 0.5rem;
}

.alert {
    display: flex;
    justify-content: center;
    width: 260px;
    text-align: center;
}