<div id="contact">
    <div id="go-back-icon">
        <img src="../../../assets/icons/arrow-up.svg" routerLink="/login">
    </div>
    <div id="logo">
        <img src="../../../assets/images/logo.png" width="100%">
    </div>
    <div class="text">
        <span>Contáctanos</span>
    </div>

    <div class="form-container">
        <form id="form">
            <input type="email" placeholder="Dirección de correo electrónico" name="email" id="email">
            <textarea name="description" id="description" placeholder="Escribe aquí su mensaje" cols="30"
                rows="10"></textarea>
            <button type="submit" id="submit-button">Enviar</button>
        </form>
    </div>

    <div class="go-home">
        <img src="../../../assets/icons/home.svg" (click)="goHome()">
    </div>
</div>