<div id="home">
    <div id="best-sellers">
        <h3>Los más vendidos</h3>
        <div>
            <img class="prev" src="../../../assets/icons/arrow-left.svg" (click)="plusSlides(-1,0)">
            <div class="cards">
                <app-card class="card1" *ngFor="let component of components" [element]="component" />
            </div>
            <img class="next" src="../../../assets/icons/arrow-rigth.svg" (click)="plusSlides(1,0)">
        </div>
    </div>

    <div id="pc-gaming-offers">
        <h3>PC Gaming en oferta</h3>
        <div>
            <img class="prev" src="../../../assets/icons/arrow-left.svg" (click)="plusSlides(-1,1)">
            <div class="cards">
                <app-card class="card2" *ngFor="let pc of pcgamings" [element]="pc" />
            </div>
            <img class="next" src="../../../assets/icons/arrow-rigth.svg" (click)="plusSlides(1,1)">
        </div>
    </div>
</div>