<header>
    <div class="main-container">
        <div class="first-line">
            <div class="menu-bar">
                <img src="../../../assets/icons/menu-bar.svg" alt="abrir menu" (click)="changeMenuVisibility()"
                    *ngIf="!menuVisbility" />
                <img src="../../../assets/icons/menu-close.svg" alt="cerrar menu" (click)="changeMenuVisibility()"
                    *ngIf="menuVisbility" />
            </div>
            <div class="logo"><img src="../../../assets/images/logo.svg" alt="logo CyberPlus"></div>
            <div class="find" (click)="changeSearcherVisibility()">
                <img src="../../../assets/icons/find-icon-opened.svg" alt="cerrar buscador" *ngIf="searcherVisibility">
                <img src="../../../assets/icons/find-icon.svg" alt="abrir buscador" *ngIf="!searcherVisibility">
            </div>
        </div>
        <div class="second-line">
            <div>
                <img src="../../../assets/icons/offer.svg" alt="Ofertas">
                <span>Ofertas</span>
            </div>
            <div>
                <img src="../../../assets/icons/news-icon.svg" alt="Novedades">
                <span>Novedades</span>
            </div>
        </div>
    </div>
    <div>
        <app-search *ngIf="searcherVisibility" [@moveDownS] class="finder" />
    </div>
    <div class="menu" *ngIf="menuVisbility" [@moveDownM]>
        <div class="menu-sections">
            <div>
                <img src="../../../assets/icons/cpu.svg" alt="componentes">
                <span>Componentes</span>
            </div>
            <div>
                <img src="../../../assets/icons/computer.svg" alt="ordenadores">
                <span>Ordenadores</span>
            </div>
            <div>
                <img src="../../../assets/icons/peripherals.svg" alt="periféricos">
                <span>Periféricos</span>
            </div>
            <div>
                <img src="../../../assets/icons/monitor.svg" alt="monitores">
                <span>Monitores</span>
            </div>
        </div>
        <div class="dark-mode-icon">
            <img src="../../../assets/icons/dark-mode-icon.svg" alt="modo oscuro" (click)="changeDarkMode()"
                *ngIf="darkMode == '0'">
            <img src="../../../assets/icons/light-mode-icon.svg" alt="modo claro" (click)="changeLightMode()"
                *ngIf="darkMode == '1'">
        </div>
    </div>
    <app-user 
        [seacherVisibility]="searcherVisibility" 
        [cartOpened]="cartOpened" 
        [menuVisibility]="menuVisbility"
        (cartOpenChangedSeacher)="changeSearcherNotification()" 
        (cartOpenChangedMenu)="changeMenuNotification()" 
    />
</header>