<div id="login">
    <div id="logo">
        <img src="../../../assets/images/logo.png" width="100%">
    </div>
    <div class="text">
        <span>Accede a tu cuenta</span>
    </div>

    <div class="form-container">
        <form (ngSubmit)="submit()" id="form" #userForm="ngForm">
            <input type="email" placeholder="correo electrónico" name="email" id="email" [(ngModel)]="user.email"
                #name="ngModel" required>
            <div *ngIf="name.invalid && name.dirty" class="alert">
                <div *ngIf="name.errors?.['required']">Campo requerido</div>
            </div>
            <input type="password" placeholder="contraseña" name="password" id="password" [(ngModel)]="user.password"
                #password="ngModel" minlength="4">
            <div *ngIf="password.invalid && password.dirty" class="alert">
                <div *ngIf="password .errors?.['required']">Campo requerido</div>
                <div *ngIf="password .errors?.['minlength']">Mínimo 4 caracteres</div>
            </div>
            <button type="submit" id="submit-button" [disabled]="!userForm.form.valid">Iniciar Sesión</button>
        </form>
    </div>

    <p>¿No tienes cuenta? ¡Registrate!</p>

    <p routerLink="/contact">Tienes Alguna duda? Contáctanos!</p>

    <div>
        <img src="../../../assets/icons/home.svg" routerLink="/home">
    </div>
</div>